
.App button {
  width: 100px;
  height: 50px;
  border: none;
  background: rgb(59, 228, 228);
  color: white;
  border-radius: 10px;
  font-size: 35px;
 margin-left: 20px;
}


.App button:hover {
  background: rgb(34, 156, 130)!important;
  cursor: pointer;
  box-shadow: 0 0 20px -10px rgb(0 0 0 / 54%);
}
.App button:focus {
  outline: none !important
}

.App input {
  width:240px;
  height: 50px;
  border: none;
  font-family: SF Pro rounded;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 30px;
}

.App .changeInp {

  width: 700px;
  background:yellow !important;
}


.App span {
  font-family: SF Pro Rounded;
  animation: bounce-top 1s both;
}